body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    color: rgb(68, 9, 9);
    background-color: rgb(250, 240, 255);
}

li {
    font-size: 20px;
    font-style: normal;
}

a {
    color: rgb(98, 86, 146);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: blue;
}
